

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #f4f6fc;
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 40px 20px;
    flex-direction: column;
    color: #333;
}


.header {
    text-align: center;
    margin-bottom: 30px;
}

.header h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: #2f2f74;
}


.sabores {
    background-color: #ffffff;
    width: 100%;
    max-width: 500px;
    padding: 30px 25px;
    border-radius: 16px;
}


.sabores h1 {
    font-size: 40px;
    font-weight: 1200;
    margin-bottom: 20px;
    color: #5a5cff;
    padding-bottom: 10px;
}


.sabores li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    border-bottom: 1px solid #f0f0f0;
    
}

.sabores button {
    background-color: #5a5cff;
    color: white;
    padding: 8px 14px;
    border-radius: 8px;
    font-weight: 600;

}


.sabores h3 {
    margin-top: 30px;
    text-align: center;
    font-size: 26px;
    color: #4a4ae0;
    font-weight: 600;
}

#tudo {
    color: #2f2f74;
    font-weight: 600;
}

#finalizacao {
    margin-top: 20px;
    margin-left: 180px;
}
